<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!--指明 controller 所在包，并扫描其中的注解-->
    <context:component-scan base-package="sky"/>

    <!-- 静态资源(js、image等)的访问 -->
    <mvc:default-servlet-handler/>

    <!-- 开启注解 -->
    <mvc:annotation-driven/>

    <!--<aop:aspectj-autoproxy/>-->

    <mvc:interceptors>
        <mvc:interceptor>
            <!--拦截以开头的URL请求-->
            <mvc:mapping path="/user/**"/>
            <mvc:mapping path="/disk/**"/>
            <!--排除在拦截名单外的URL请求-->
            <!--首先是注册请求，这个在任何时候都不能拦截-->
            <mvc:exclude-mapping path="/user/register"/>
            <!--然后是登录请求-->
            <mvc:exclude-mapping path="/user/login/**"/>
            <!--下面的是一些资源文件，比如图片、CSS文件、JS文件等-->
            <mvc:exclude-mapping path="/temp/**"/>
            <!--当有URL被拦截后，调用下面这个拦截器来处理，决定了是放行还是拦截-->
            <bean class="sky.controller.interceptor.SessionInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>


    <!--资源路径转移-->
    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
          p:defaultEncoding="UTF-8"
          p:maxUploadSize="5242880"
          p:uploadTempDir="upload/temp">
    </bean>
</beans>