<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sky.dao.FileModeMapper">
    <resultMap id="BaseResultMap" type="sky.pojo.FileMode">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="pid" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="file_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="file_type" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="file_size" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="upload_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="is_dir" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="is_public" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id, username, pid, file_name, file_type, file_size, upload_time, is_dir, is_public
    </sql>
    <!--当前用户目录下文件-->
    <select id="queryByPid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from filemodes
        where username = #{param1}
        AND pid = #{ param2}
    </select>
    <select id="queryById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from filemodes
        where id = #{id}
    </select>
    <!--当前用户分类文件-->
    <select id="queryByType" parameterType="sky.pojo.FileMode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from filemodes
        where fileType = #{filetype,jdbcType=VARCHAR}
        AND username = #{username,jdbcType=VARCHAR}
    </select>

    <!--当前用户所有文件-->
    <select id="queryAll" parameterType="sky.pojo.FileMode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from filemodes where username = #{username,jdbcType=VARCHAR}
    </select>

    <!--公共文件-->
    <select id="queryPublicByFileName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from filemodes
        where is_public = 1
        <if test="fileName != null and fileName != ''">
            and file_name = #{fileName,jdbcType=VARCHAR}
        </if>
        ORDER BY id
    </select>

    <!--公共文件-->
    <select id="queryPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from filemodes
        where
        <if test="username != null">
            username = #{username}
            <if test="search != null">
                and file_name LIKE #{search}
            </if>
        </if>
        <if test="username == null">
            is_public = 1
            <if test="search != null">
                and (file_name LIKE #{search} or username like #{search})
            </if>
        </if>


        <if test="sort != null">
            <!--这里使用$符号-->
            ORDER BY ${sort} ${order}
        </if>
    </select>


    <!--选择插入 返回主键-->
    <insert id="insert" parameterType="sky.pojo.FileMode" useGeneratedKeys="true" keyProperty="id">
        insert into filemodes
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="fileName != null">
                file_name,
            </if>
            <if test="fileType != null">
                file_type,
            </if>
            <if test="fileSize != null">
                file_size,
            </if>
            <if test="uploadTime != null">
                upload_time,
            </if>
            <if test="isDir != null">
                is_dir,
            </if>
            <if test="isPublic != null">
                is_public,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=INTEGER},
            </if>
            <if test="fileName != null">
                #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="fileType != null">
                #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null">
                #{fileSize,jdbcType=INTEGER},
            </if>
            <if test="uploadTime != null">
                #{uploadTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDir != null">
                #{isDir,jdbcType=INTEGER},
            </if>
            <if test="isPublic != null">
                #{isPublic,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

</mapper>